body {font-family: 'Muli', sans-serif;
      -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */}

.opis {margin-left:5%;
       margin-right:5%;}
	   
.laptop {float: right;
         width: 50%;}

.jaki_laptop {margin-left:5%;
              margin-right:5%;
			  float: left;}
			  
.jaki {}

a {transition-duration: 0.2s;}

a:hover {opacity: 0.2;
         font-size: 75%;}

.test {float: left;
       width:40%;
	   margin-top: 5%;}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

	   
